.App{
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

.card{
  margin-top: 10px;
  cursor: pointer;
  position: relative;
}

.card-text{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}

.card:hover{
  scale: 1.02;
}

.card:hover label.card-text{
  display: block;
}

#img-edit-container{
  position: relative;
}

#img-edit-container #offer-header{
 position: absolute;
 top:100px;
 left:200px;
}

#img-edit-container #offer-discount{
  position: absolute;
  top:200px;
  left:200px;
 }
 